html {
	min-width: 800px
	}
	
body {
	font-family: arial;
	color: #8b7c54;
	line-height: 1.5em;
	font-size: 100%;
	background: url(images/bodybg.jpg) repeat;
	
}

#page {
	max-width: 1280px;
	min-width: 1000px;
	width: 1000px;
	margin: 10px auto 10px auto;
	position: relative;
	font-family: 'Gafata', sans-serif;
	}
	
header {
	position: relative;
	height: 190px;
	width: 554px;
	margin-bottom: 10px;
	}

	#logo
	{
	   background: url(images/MuLan.png) no-repeat ; 	
	   display:block;  
	   height:190px;
	   overflow:hidden;
      text-indent:100%;
       white-space:nowrap;
	   }

#top-nav{
	position: absolute;
	top: 130px;
	left: 640px;
	}

	#top-nav li {
		float: right;
		list-style-type: none;	
		font-size: 1.3em;
		text-align: center;		
		background-color: #330033;
		padding: 5px;
		margin-right: 10px;
		-moz-box-shadow: 5px 5px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 5px 1px 5px rgba(0,0,0,0.5);
         box-shadow: 5px 5px 1px rgba(0,0,0,0.5);

		}

	nav li a {
		color: #FFF;
		font-size: .9em;
		text-decoration: none;
		padding: 10px 25px;
		text-align: center;
		margin: 0 auto; 
		-webkit-transition: 0.4s ease-in-out;
		-moz-transition: 0.4s ease-in-out;
		transition: 0.4s ease-in-out;
		}

	nav li a:hover {
		color: #660000;
	    }

	
#visual {
	height: 325px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:#180000;
	-moz-box-shadow: 5px 5px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 1px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 1px rgba(0,0,0,0.5);
	}

	.slideshow 
	{
	     display: block;
		float:left;
		margin-left:10px;
		width: 616px;
		height: 355px;
		} 

	#intro 
	{
	  
	    display: block;
		float: right;		
		width: 340px;
		height: 355px;
		}
		
	#intro p 
	{
		font-family: 'Kaushan Script', cursive;
		font-size: 1.3em;
		line-height: 1.7em;
		margin-top:0px;
		padding: 0px 20px 20px 0;
		}

	
#lower {
	clear: both;
	height: 470px;
	padding: 10px 0px 10px;
	/*background-color: #f5efe8;*/
	}

	.twitter {
		float: left;
		width: 235px;
		height: 470px;
		padding-right:5px;
		background-color: #f5efe8;
		-moz-box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
        box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
		}

	.welcome {
		float: left;
		padding-right: 30px;
		padding-left: 35px;
		width: 315px;
		height: 470px;
		margin-right:12px;
		margin-left:7px;
		background-color: #f5efe8;
		-moz-box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
        box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
		}

	.hours {
		float: left;
		width: 355px;
		height: 470px;
		margin-right:5px;
		background-color: #f5efe8;
		-moz-box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
        box-shadow: 7px 7px 1px rgba(0,0,0,0.5);
		}
		


	#lower li {
		list-style-type: none;
		}

	#lower h2, #menu h2 {
		text-shadow: 0.01em 0.03em 0.05em #333;		
		letter-spacing: .1em;
		font-size: 1.2em; 
		margin-bottom: 10px;
		}
		
	.twitter h2, .hours h2 {
		margin-left:18px;
		}
		
	#lower .hours li {
		color: #4c3906;
		font-size: 1em;
		line-height: 1.3em;
		margin-bottom: .5em;
		}



	.hours li {
		line-height: 1em;
		}

	.twitter h3 {
		color: #6a9d57;
		font-size: .9em;
		}

	.twitter p {
		color: #4c3906;
		font-size: 1em;
		line-height: 1.3em;
		margin-bottom: .5em;
		}
		
	div #tweets-container {
		height: 300px;
		padding-right: 2px;
		overflow: auto; 
		font-size:smaller;
		}
	.follow
	{
	    text-align:center;
	}
		
	#tweets p a:link, #tweets p a:active, .tweets p a:visited { color: #6fb2cd; text-decoration: none; }
	#tweets p a:hover  { text-decoration: underline; }
    #tweets { padding-left:25px;}
    .city {
		font-weight: bold;
		margin-left:5px;
	}
	.times {
	    margin-left:15px;
	}
	.mon {
	    margin-left:110px;
     }
     .days {
        margin-left:10px;
     }
     .days2 {
        margin-left:25px;
     }
     .days3 {
        margin-left:90px;
     }
     .address  {
        margin-left:15px;  
     }
	#intro li a {
		text-decoration: none;
		color: #fdaf40;
	}

#location {
	   margin-top:20px;
	   padding-top:20px;
	   padding-left:20px;
	   height:520px;
	   background-color:#180000;
	}
 	#location li 
	{
		list-style-type: none;
		}
	.map {
	    float:left;
	    width:640px;
	}
	#google {
       -moz-box-shadow: 0 0 5px #888;
       -webkit-box-shadow: 0 0 5px#888;
       box-shadow: 0 0 5px #888;
    }
	.address2 {
	    float:right;
	    margin-right:20px;
	    padding-left:10px;
	    width:270px;
	    background-color: black;
	}
#instructions {
    position:relative;
}	
 .dishes  {
    display:block;
    float:right;
    text-align:right;
    margin-bottom:0px;
    padding:5px 5px 0px 5px;
    background-color:#222222;
    border:3px solid #222222; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .zoom  {
     display:block; 
     float:left;
     padding:5px 5px 0px 5px;
     margin-bottom:0px;
     background-color:#222222;
     border:2px solid #222222; 
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
  }
#menu {
    position:relative;
}
   .menuviewer 
   {
       margin-top:62px;
       height:930px;
       -moz-box-shadow: 0 0 5px #888;
       -webkit-box-shadow: 0 0 5px#888;
       box-shadow: 0 0 5px #888;
    }
    

footer { 
	clear:both;
	background-color:black;
	position: relative;
	font-size: 1em; 
	color: #372707; 
	margin-top:10px;
	padding: 10px;

	}



		
